<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.or.dgit.bigdata.fragment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentLifeCycle" />
        <activity android:name=".FragmentReuse" />
        <activity android:name=".FragmentManager" />
        <activity android:name=".FragmentTransfer" />
        <activity android:name=".FragmentDataTransfer" />
        <activity android:name=".ListFragmentEx" />
        <activity android:name=".ListFragementDivideEx" />
        <activity android:name=".FragementApplications" />
        <activity android:name=".MultiDisplayFragmentEx" />
        <activity android:name=".PlanerDescActivity" />
        <activity android:name=".PrefFragment" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewPager" />
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.or.dgit.bigdata.fragment.ItemListActivity" />
        </activity>
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".TabLayoutActivity"></activity>
    </application>

</manifest>